body { 
    margin: 0%;
}

img.top {
    width: 100%;
}

img.circle {
    width: 30%;
    border-radius: 60%;
    border-width: 10%;
    border-color: black;
}

.circles {
    text-align: center;
    background-color: gray;
}